@{
    ViewBag.Title = "GTDesign | Galería";
}

<div class="jumbotron text-center">

    <img src="~/Content/img/logo_design.png" class="img-responsive center-block" alt="GTDesign" width="400" />

</div>

<div class="row">
    <div class="col-md-12 text-justify">
        <div class="col-md-12">
            <article class="galeria">
                <h3 class="galery-design">Muestras De Productos GTDesign</h3>
                
                <a href="~/Content/img/GaleriaDesign/TazaBlanca.JPG" rel="Shadowbox[Diseños]" title="Taza Blanca">
                <img src="~/Content/img/GaleriaDesign/TazaBlancamini.jpg" class="img-responsive"></a>
                

                <a href="~/Content/img/GaleriaDesign/TazaCentroColor.JPG" rel="Shadowbox[Diseños]" title="Taza Centro Color Rojo">
                <img src="~/Content/img/GaleriaDesign/TazaCentroColormini.jpg" class="img-responsive"></a>

                <a href="~/Content/img/GaleriaDesign/Separadores.JPG" rel="Shadowbox[Diseños]" title="Separadores">
                <img src="~/Content/img/GaleriaDesign/Separadoresmini.jpg" class="img-responsive"></a>
</article>
        </div>
        <div class="col-md-12">
            <article class="galeria">                               
                <a href="~/Content/img/GaleriaDesign/Rompecabezas.JPG" rel="Shadowbox[Diseños]" title="Rompecabezas">
                <img src="~/Content/img/GaleriaDesign/Rompecabezasmini.jpg" class="img-responsive"></a>

                <a href="~/Content/img/GaleriaDesign/PlacaAluminio.JPG" rel="Shadowbox[Diseños]" title="Placa Aluminio">
                <img src="~/Content/img/GaleriaDesign/PlacaAluminiomini.jpg" class="img-responsive"></a>
                
                <a href="~/Content/img/GaleriaDesign/MousePAD.JPG" rel="Shadowbox[Diseños]" title="MousePAD">                           
                <img src="~/Content/img/GaleriaDesign/MousePADmini.jpg" class="img-responsive"></a>
</article>
        </div>
    </div>
    <div class="col-md-12">
        <article class="galeria">            
            <a href="~/Content/img/GaleriaDesign/ClipSeparadores.JPG" rel="Shadowbox[Diseños]" title="Clip Separadores">
            <img src="~/Content/img/GaleriaDesign/ClipSeparadoresmini.jpg" class="img-responsive"></a>
</article>
    </div>
</div>

<div class="row">
    <div class="col-md-2 list-group-item">
        <span><a href='@Url.Action("Index","GTDesign")' class="btn  btnContactDesign">Regresar</a> </span>
    </div>
    <div class="col-md-2 list-group-item">
        <span><a href='@Url.Action("Contacto","GTDesign")' class="btn  btnContactDesign">Contacto</a> </span>
    </div>
</div>