@{
    ViewBag.Title = "GT Design";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>        
        <li data-target="#myCarousel" data-slide-to="2"></li>        
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Carousel/GTDesign/001.jpg" alt="GTDesign">
        </div>

        <div class="item">
            <img src="~/Content/Carousel/GTDesign/002.png" alt="GTDesign">
        </div>        

        <div class="item">
            <img src="~/Content/Carousel/GTDesign/003.png" alt="GTDesign">
        </div>        
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="jumbotron">
    <img src="~/Content/img/logo_design.png" class="img-responsive center-block" alt="GT Design" width="400" />
</div>


<div class="row">
    <div class="col-md-12 text-justify">

        <p>
            Somos un negocio dedicado a la venta de regalos personalizados para toda ocasión.
            Cumpleaños, aniversarios, San Valentín, Navidad.
            O simplemente para regalar a los parientes que vienen de visita, o a los invitados de honor en sus talleres o conferencias.
            Tenemos un amplio surtido de productos. (Los precios incluyen el diseño al gusto).
        </p>

    </div>
</div>


<div class="row">

    <div class="col-md-12">
        <h6 class="txt-design">Aquí podrá consultar las tarifas vigentes al primer semestre del 2016 de los productos ofrecidos.</h6>
    </div>

</div>

<div class="row">

    <div class="col-lg-4">
        <table class="table table-striped table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="tabla-design text-center"><strong>Precio por unidad</strong></td>
                </tr>
                <!--<tr>
                    <td class="tabla-cyber text-center">$300.00 MXN</td>
                </tr>-->
                <tr>
                    <td class="active text-center txt-design">
                        <ul>
                            <li>Taza blanca 		           - $65</li>
                            <li>Taza centro de color 		   - $75</li>
                            <li>Taza mágica 				   - $85</li>
                            <li>Taza blanca grande			   - $100</li>
                            <li>Taza con cuchara de cerámica   - $120</li>
                            <li>Tazas de pareja				   - $150</li>
                            <li>Tarro cervecero 			   - $180</li>

                        </ul>
                    </td>
                </tr>
                <!--<tr>
                    <td class="text-center"> Imagen </td>
                </tr>-->
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-striped table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="tabla-design text-center">Precio por unidad</td>
                </tr>
                <!--<tr>
                    <td class="tabla-cyber text-center">$150.00 MXN</td>
                </tr>-->
                <tr>
                    <td class="active text-center txt-design">
                        <ul>
                            <li>MousePad				- $50</li>
                            <li>Rompecabezas 				- $50</li>
                            <li>Placa Aluminio con marco de madera	- $180</li>
                            <li>Separadores 				- $20</li>
                            <li>Clip separadores			- $20</li>
                        </ul>
                    </td>
                </tr>
                <!--<tr>
                    <td class="text-center"> Imagen </td>
                </tr>-->
            </tbody>
        </table>
    </div>

    <div class="col-lg-4">
        <table class="table table-striped table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="tabla-design text-center">Precio por unidad</td>
                </tr>
                <!--<tr>
                    <td class="tabla-loto text-center">$150.00 MXN / GB</td>
                </tr>-->
                <tr>
                    <td class="active text-center txt-design">
                        <ul>
                            <li>Cilindro pequeño			- $120</li>
                            <li>Cilindro grande (blanco/metalico)	- $180</li>
                            <li>Servilletas blancas (Docena)		- $180</li>
                        </ul>
                    </td>
                </tr>
                <!--<tr>
                    <td class="text-center"> Imagen </td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item">
                <span><img src="~/Content/icons/faceboook.png" width="10" /></span>
                <a href="https://www.fb.com/taller.loto" target="_blank" class="textFBDesign"> &nbsp; GT Design</a>
            </li>
            <li class="list-group-item">
                <span><img src="~/Content/icons/github .png" width="20" /></span>
                <a href="https://github.com/isc-luiseduardo" target="_blank" class="textFBDesign">&nbsp; Github</a>
            </li>

        </ul>
    </div>
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item">
                <span><a href='@Url.Action("Galeria","GTDesign")' class="btn btnContactDesign">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Galería &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> </span>
            </li>
            <li class="list-group-item">
                <span><a href='@Url.Action("Contacto","GTDesign")' class="btn btnContactDesign">Contáctanos ahora</a></span>
            </li>
        </ul>
    </div>
</div>
