@{
    ViewBag.Title = "CyberGT | Galeria";
}

<div class="jumbotron">
    <img src="~/Content/img/logo_cyber.png" class="img-responsive center-block" alt="Cyber GT" width="400" />
</div>

<div class="row">

    <div class="col-md-12">
        <h6 class="txt-cyber">Aquí podrá consultar las tarifas vigentes al primer semestre del 2016 de los servicios ofrecidos.</h6>
    </div>

</div>


<div class="row">
    <div class="col-md-2 list-group-item">
        <span><a href='@Url.Action("Index","CyberGT")' class="btn btnContactCyber">Regresar</a> </span>
    </div>
    <div class="col-md-2 list-group-item">
        <span><a href='@Url.Action("Contacto","CyberGT")' class="btn btnContactCyber">Contacto</a> </span>
    </div>
</div>